<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <title>{% block title %}VOLTEX{% endblock %}</title>
</head>

<body>
    <section class="section">
        <div class="container">
            {% block header %}
            <section class="hero is-success">
                    <div class="hero-body">
                      <div class="container">
                        <h1 class="title">
                            {% if session.user %}
                                Hora de jugar !! <strong>{{session.user}}</strong>
                            {% else %}
                                Bienvenido
                            {% endif %}
                        </h1>
                        <h2 class="subtitle">
                            {% if session.dados and session.caras %}
                                Tira los dados tantas veces como quieras!!</h1><br>
                                Has elegido <strong>{{session.dados}} dados </strong> y <strong>{{session.caras}} caras por dado.</strong>
                                <a class="button is-danger" href="{{ url_for('salir') }}"> Salir </a>
                            {% else %}
                                Elije el cuantos dados quieres tirar, y cuantas caras quieres que tenga, así de simple.
                            {% endif %}
                        </h2>
                      </div>
                    </div>
                  </section>
            {% endblock %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% block main %}

            {% endblock %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% block footer %}

            {% endblock %}
        </div>
    </section>
</body>
</html>