<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}VOLTEX{% endblock %}</title>
</head>

<body>
    <section class="section">
        <div class="container">
            {% block header %}

            {% endblock %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% block main %}

            {% endblock %}
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% block footer %}

            {% endblock %}
        </div>
    </section>
</body>
</html>