{% extends 'base.html' %}
    {% block title %}
        {{super()}}
            Usuario
    {% endblock %}

{% block main %}
<form class="form" action="{{ url_for('usuario') }}" method="POST">
    <label for="user">Nickname: </label>
    <input class="input "  name="user" type="text" placeholder="Usuario" required autofocus>
    <label for="dados">Numero de dados: </label>
    <input type="number" name="dados" ><br>
    <div class="select">
            <select name="caras" required>
              <option value="4">4 Caras</option>
              <option value="6">6 Caras</option>
              <option value="8">8 Caras</option>
            </select>
          </div>
    <button class="button is-info" type="submit">Empezar</button>
</form>
{% endblock %}

{% block footer %}

{% endblock %}